body {
    background-image: url('https://wallpapers.com/images/hd/vintage-clouds-and-meadow-field-pinterest-aesthetic-1h1zk8tl7gtnez9l.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 70vh;
    width: 30vw;
    display: flex;
    background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
}
.login-container {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 70vh;
    width: 30vw;
    display: flex;
    background-color: #f2e9e9aa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
}

.login-container label
{
 
    height: 7vh;
    width: 3vw;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
} 
.login-container input {
    width: 80%;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 600;
}

.login-container input {
    width: 80%;
        padding: 1rem;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        border-radius: 5px;
        background-color:lightgray;
        font-weight: 600;
}

.login-container button {
    margin-top: 40px;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 50px;
    border: none;
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    
}